footer {
    text-align: center;
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    nav{

        a{
            text-decoration: none;
            text-transform: uppercase;
            color: $color-gray;
            font-family: $ff;
            margin-right: 25px;
            font-size: 18px;
            transition: $transi;

            &:nth-of-type(4) {
                margin-right: 0;
            }
            &:hover {
                color: $bg-red;
            }
        } 
    }
    .social {
        display: flex;
        align-items: center;
        justify-content: center;

        a {

            color: white;
            width: 70px;
            height: 70px;
            background-color: $color-gray;
            margin-right: 25px;
            padding: 25px;
            border-radius: 999px;
            transition: $transi;

            &:hover {
                color: white;
                background-color: $bg-red;
            }
        }
    }
    small {
        color: $color-gray;
    }
    
}