.contact {
   margin-top: 100px;
   background-color: #213375;
   font-family: $font-family;
   
   .contact-wrapper {
      width: 80%;
      margin: 0 auto;
      padding: 50px 0;
      color: white;
      list-style-type: none;
      
      .contact-txt {
         margin-bottom: 50px;
         
         h2 {
            font-weight: 500;
            margin: 10px 0;
         }
         ul {
            list-style-type: none;
            padding: 0;
            line-height: 30px;
            
            li {
               text-decoration: none;
               color: #fff;
               position: relative;
               width: auto;

               a {
                  color: white;
                  text-decoration: none;
                  display: inline;
                  position: relative;
                  padding-bottom: 5px;

                  &::after {
                     content: "";
                     width: 0%;
                     height: 1px;
                     background-color: #fff;
                     position: absolute;
                     left: 0;
                     bottom: 0;
                     transform: translate(-50%,-50%);
                     transition: $transi;
                  }
                  &:hover::after {
                     width: 100%;
                     left: 50%;
                  }
                  
               }
            }
         }
         .list-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            
            .list-smaller {
               margin-left: 25px;
               font-size: 10px;
               line-height: 25px;
            }
         }
      }
      .contact-txt-smaller {
         font-size: 12px;
         color: rgb(190, 190, 190);
      }
   }
}
.disclaimer {
   background-color: #162351;

   .disclaimer-wrapper {
      width: 80%;
      margin: 0 auto;
      padding: 50px 0;
      color: rgb(190, 190, 190);
      font-family: $font-family;
      font-size: 10px;


      h4 {
         margin: 0;
         margin-bottom: 25px;
         text-transform: uppercase;
      }
      p {
         margin: 0;
         line-height: 20px;
      }
   }
}
@media screen and (min-width:765px) {
   .disclaimer {
      position: sticky;
      bottom: 0;
      z-index: -1;
   }
   .contact {
      
      .contact-wrapper {
         display: flex;
         justify-content: flex-start;
         align-items: center;
         height: 50vh;
         width: 100%;
         padding: 0;
         
         .contact-logo-wrapper {
            background-color: #fff;
            height: 100%;
            width: 25%;
            padding: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .contact-logo {
               background: url(../img/logo-color.svg)no-repeat center/contain;
               height: 50%;
               width: 100%;
               
            }
         }
         .contact-txt-wrapper {
            width: 75%;

            .contact-txt {
               display: flex;
               justify-content: space-between;
               align-items: baseline;
               width: 75%;
               margin: 0 auto 50px;
   
               .list-wrapper {
   
                  &>ul {
                     margin-right: 100px;
                  }
                  .list-smaller {
                     font-size: 14px;
                  }
               }
            }
            .contact-txt-smaller {
               width: 75%;
               margin: 0 auto;
            }
         }
      }
   }
}