main {
    background-color: $bg-color;

    .bloc-titre {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.titre-container {
    padding: 40px 0;
    width: 49%;
    height: 45vh;
    font-family: $ff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 70px;
        span {
            display: block;
            color: $bg-red;
            font-size: 75px;
        }
    }
    p {
        font-size: 25px;
        line-height: 30px;
    }
}
