header {
   height: 100vh;

   video {
      object-fit: cover;
      height: 100vh;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
   }
}
.nav-contenu {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: white;
   width: 80%;
   margin: 0 auto;
   padding: 50px 0;

      nav {
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
      .titre-btn {
         font-family: 'Montserrat', sans-serif;
         margin-bottom: 50px;

            h1 {
               font-weight: 400;
               font-size: 50px;
               line-height: 60px;

               span {
                  display: block;
               }
            }
            .hero-btn {
               display: inline-block;
               border: 1px solid white;
               margin-top: 25px;
               animation: 2s cubic-bezier(.8, .5, .2, 1.4)  infinite .3s running box;

                  span {
                     padding: 10px 10px;
                     color: white;
                     font-size: 30px;
                     animation: 2s cubic-bezier(.8, .5, .2, 1.4)  infinite .3s running arrow;
                  }
            }
      }
}
@keyframes box {
   0% {
      border-bottom: 0;
   }
   50% {
      border-bottom: 1px solid white;
      border-top: 0;
   }
   80% {
      border-top: 1px solid white;
   }
}
@keyframes arrow {
   0%   {
      transform: translateY(0);
   }
   10% {
      transform: translateY(100px);
      opacity: 0.2;
   }
   11% {
      transform: translateY(150px);
      opacity: 0;
   }
   30% {
      transform: translateY(-50px);
      opacity: 0;
   }
   35% {
      opacity: 0.2;
   }
   40% {
      transform: translateY(0);
      opacity: 0.2;
   }
   41% {
      opacity: 1;
   }
   50% {
      transform: translateY(0);
   }
   60% {
      transform: translateY(0);
   }
   70% {
      transform: translateY(0);
   }
   90% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(0);
   }
}

@media screen and (min-width:765px) {
   .burger {
      display: none;
   }
   .nav-contenu {
      width: 90%;
   }
   .titre-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
