.contact-lien  {
    display: flex;
    justify-content: space-between;

    a{
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-family: $ff;
        margin-right: 25px;
        font-size: 18px;
        transition: $transi;

        &:nth-of-type(4) {
            margin-right: 0;
        }
        &:hover {
            color: $bg-red;
        }
    } 
}
.bloc-titre {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .titre-container {
        margin-bottom: 100px;
    }
}