.ff {

   .ff-wrapper {
      width: 80%;
      margin: 0 auto;
      padding: 70px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      h2 {
         @include titre-h2;
         margin-bottom: 45px;
      }
      div {
         @include para;
      }
   }
}

.full-img {
   background: url(../img/makena.jpg) no-repeat center/cover;
   height: 35vh;
}

@media screen and (min-width:765px) {
   .full-img {
      height: 100vh;
   }
   .ff {
      
      .ff-wrapper {
         width: 90%;
         flex-direction: row;
         height: 50vh;
         
         h2 {
            width: 50%;
            font-size: 45px;
            line-height: 60px;

         }
         div {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            
            p {
               width: 70%;
               font-size: 18px;
            }
         }
      }
   }
}